name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    uses: ./.github/workflows/ci-cd.yml
    with:
      java-version: '17'
      docker-platforms: 'linux/amd64,linux/arm64'
      enable-security-scan: true
      run-tests: true
      event-name: ${{ github.event_name }}
    secrets: inherit
