name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    uses: ./.github/workflows/ci-cd.yml
    with:
      java-version: '17'
      docker-registry: 'ghcr.io'
      docker-platforms: 'linux/amd64,linux/arm64'
      enable-security-scan: true
      run-tests: true
      sonar-token: ${{ secrets.SONAR_TOKEN }}
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
